li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.guest-info {
  display: inline-block;
  margin-bottom: 1em;
}

.guest-info img {
  width: 276px;
  height: 183px;
}